<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <section>
    <img src="https://avatars.githubusercontent.com/u/46411513?v=4" />
  </section>
  <h1>Rodrigo de Ara&uacute;jo Tem&oacute;teo</h1>
  <h6>Professor na Etec de Porto Feliz - SP</h6>
  <a href="mailto:rodrigo.temoteo@etec.sp.gov.br">
    <h6>rodrigo.temoteo@etec.sp.gov.br</h6>
  </a>

</ion-content>
